<a href="{% url 'detalle_producto' producto.id %}" style="text-decoration: none; color: black;">
    <div class="dist" style="width: 90%;">
        {% load static %}
        <div class="prod">
            <img src="{% static 'img/' %}{{ producto.urlImg }}" alt="{{ producto.nombre }}" class="img-prop">
            <div class="mostrar">
                <div class="post-atrib">
                    <img src="{% static 'img/me-gusta.png' %}" alt="me-gusta" class="atrib">
                    <img src="{% static 'img/anadir.png' %}" alt="agregar" class="atrib">
                </div>
            </div>
            <p class="name-prod">{{ producto.nombre }}</p>
            <p class="price-prod">${{ producto.precio }} MXN</p>
        </div>
    </div>
</a>